<%= form_for @product do |f| %>
	<div class="form-group">
		<%= f.text_field :name, class: "form-control", placeholder: "Ingresa el nombre"  %>
	</div>
	<div class="form-group">
		<%= f.url_field :url, class: "form-control", placeholder: "Ingresa la url"  %>
	</div>
	<div class="form-group">
		<%= f.text_area :description, class: "form-control", placeholder: "Ingresa la desripción"  %>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-primary btn-lg btn-block" %>
		</div>
<% end %>